<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="OMG LOL">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/foundation.min.css">
  </head>

  <body>
    <div class="row">
      <h1>Seznamka nerdů</h1>

      <table>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Místo</th>
            <th>Limit</th>
            <th>Dorazím?</th>
            <% if not @admin %>
              <th>Akce</th>
            <% else %>
              <th>Emaily</th>
            <% end %>
          </tr>
          </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.date.strftime('%d.%m.%Y') %></td>
              <td><%= event.place %></td>
              <td><%= event.rsvps.count %> z <%= event.limit %>ti</td>
              <td data-rsvp><%= Rsvp.attending?(event.id, request.session["session_id"]) %></td>
              <td>
                <% if not @admin %>
                  <% if Rsvp.attending?(event.id, request.session["session_id"]) %>
                    <%= button_to 'Odhlásit', '/rsvp/' + event.id.to_s + '/delete' %>
                  <% elsif event.full? %>
                    Plno :(
                  <% elsif event.late? %>
                    Pozdě
                  <% else %>
                    <form action="<%= '/rsvp/' + event.id.to_s %>" method="POST">
                      <input type="email" name="email" />
                      <input type="submit" value="Přihlásit" />
                    </form>
                  <% end %>
                <% else %>
                  <%= event.emails.join(', ') %>
                <% end %>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </body>
</html>
