<p><%= link_to t('events.new'), new_event_path %></p>

<table cellspacing="0">
  <tr>
    <th><%= t('activerecord.attributes.event.name')%></th>
    <th><%= t('events.when')%></th>
    <th><%= t('activerecord.attributes.event.description')%></th>
    <th><%= t('events.attendees')%></th>
    <th><%= t('common.actions')%></th>
  </tr>
  <% @event_dates.each do |event_date| %>
    <tr <%= attending_class(event_date) %>>
      <td><%= event_date.event.name %></td>
      <td>
        <% if event_date.date %>
          <%= I18n.l(event_date.date) %>
          <%= I18n.l(event_date.event.starts_at) %>
          <% if event_date.event.ends_at %>
            - <%= I18n.l(event_date.event.ends_at) %>
          <% end %>
        <% end %>
      </td>
      <td><%= event_date.event.description %></td>
      <td>
        <%= event_date.users.size %>
        <% if event_date.event.capacity %>
          <%= t('common.of') %> <%= event_date.event.capacity %>
        <% end %>
        <% if current_user.admin? %>
          <br>
          <%= event_date.users.map(&:email).join(', ') %>
        <% end %>
      </td>
      <td>
        <%= render 'actions', event_date: event_date %>
      </td>
    </tr>
  <% end %>
</table>
