<p><%= link_to t('events.new'), new_event_path %></p>

<table cellspacing="0">
  <tr>
    <th><%= t('activerecord.attributes.event.name')%></th>
    <th><%= t('events.when')%></th>
    <th><%= t('activerecord.attributes.event.description')%></th>
    <th><%= t('events.attendees')%></th>
    <th><%= t('common.actions')%></th>
  </tr>
  <% @events.each do |event| %>
    <tr <%= attending_class(event) %>>
      <td><%= event.name %></td>
      <td>
          <%= I18n.l(event.date) %>
          <%= I18n.l(event.starts_at) %>
          <% if event.ends_at %>
            - <%= I18n.l(event.ends_at) %>
          <% end %>
      </td>
      <td><%= event.description %></td>
      <td>
        <%= event.users.size %>
        <% if event.capacity %>
          <%= t('common.of') %> <%= event.capacity %>
        <% end %>
        <% if current_user.admin? %>
          <br>
          <%= event.users.map(&:email).join(', ') %>
        <% end %>
      </td>
      <td>
        <%= render 'actions', event: event %>
      </td>
    </tr>
  <% end %>
</table>
